
<% if notice %>
<aside id="notice"><%= notice %></aside>
<% end %>
<h1>Books</h1>
<tr> 

<table>
<tfoot>
 <p>Sort By: <%= sort_link(@q, :price, default_order: :asc) %></p>
<tr>
<td colspan="3">
<%= link_to 'New Book', new_book_path %>
</td>
</tr>
</tfoot>
<tbody>
<% @books.each do |book| %>
<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">


<td class="blurb">
<h1><%= book.book_title %></h1>
<p>
<%= truncate(strip_tags(book.author),
length: 80) %>
</p>
<p>
<%= truncate(strip_tags(book.blurb),
length: 80) %>
</p>
<p>
<%= truncate(strip_tags(book.condition),
length: 80) %>
</p>
<td class="image">
<%= image_tag book.picture if book.picture.attached?%>
</td>

</td>
<td class="actions">
<ul>
<li><%= link_to 'Show', book %></li>
<div classs="auth">
<% if user_signed_in? && (current_user == book.user)%>
               
<li><%= link_to 'Edit', edit_book_path(book) %></li>
<li>
<%= link_to 'Destroy',
book,
method: :delete,
data: { confirm: 'Are you sure?' } %>
</div>
<%end%>
<div class="price">
 <%= number_to_currency(book.price) %>
<%= button_to 'Add to Cart', line_items_path(book_id: book) %>
</li>
</ul>
</td>
</tr>
<% end %>
</tbody>
</table>
